.footerPosition {
  background-color: blue;
  
}

.footerContainer {
  position: absolute;
  width: 100%;
  height: 400px;
}

.container {
  margin-top: 10px;
}

.purchase-card > .show-grid {
  padding-bottom: 1.5em;
}

.item-details-button:focus {
  outline: none;
}

.promo-code-button:focus {
  outline: none;
}

.btn-round {
  border-radius: 17px;
}


.footerText {
  color: black;
  font-size: 30px;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: papayawhip;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(52, 52, 52, 0.8);
}

